<section class="rectclass">
    <div class="rectangle"></div>
    <div class="rectangle2"></div>
</section>

<section class = "allpoints container clearfix">
    <div class="point column third">
        <h3 class="point-title">features</h3>
        <div class="underline" style='background-color: red'></div>
        <p> mobile-enabled</p>
        <p>  robot-friendly playlists</p>
        <p>  live mixing</p>
        <span class="ion-music-note"></span>
    </div>

    <div class="point column third">
        <h3 class="point-title">mechanics</h3>
        <div class="underline" style='background-color: chartreuse'></div>
        <p> speedy ui</p>
        <p>  fine-tuned for you</p>
        <p>  free</p>
        <span class="ion-radio-waves"></span>           
    </div>

    <div class="point column third">
        <h3 class="point-title">pricing</h3>
        <div class="underline" style='background-color: chartreuse'></div>
        <p> 0 $ for 3 months</p>
        <p>  $2 / mo after</p>
        <p>  $2 / mo after</p>                
        <span class="ion-iphone"></span>                  
    </div>
</section>

<footer class="hero">
    <img src="assets/images/bloc_jams_logo.png" alt="bloc jams logo" style="align-content: right" class="logo">  
     <h1 class="hero-title">music up hassle down</h1>
</footer>
